body {
    background: black;
  }
h1 {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin: auto;
} 
div {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}
p {
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
img {
    margin: auto;
}